  </main>
  <footer class="admin-footer"><p>PlaceholderParts Admin Panel &copy; <%= new Date().getFullYear() %></p></footer>
  <script src="/js/clientFormValidation.js" defer></script>
  <script src="/js/formErrorHighlight.js" defer></script>
</body>
</html>
