  <footer class="site-footer">
    <p>&copy; <%= new Date().getFullYear() %> PlaceholderParts.com &mdash; Autoclave, Sterilizer &amp; Medical Equipment Parts</p>
    <p class="admin-footer-link"><a href="/secure-admin/login">Administrator Login</a></p>
  </footer>
  <script src="/js/clientFormValidation.js" defer></script>
  <script src="/js/formErrorHighlight.js" defer></script>
  <script src="/js/carousel.js" type="module"></script>
  <script src="/js/gridAnimation.js" type="module"></script>
</body>
</html>
